hiddenlayer/
*.pth
*.caffemodel
.idea/
.ipynb_checkpoints/
__pycache__
*.prototxt
videos/
images/binary_pose
images/hands_image
keypoints_data.json
normalized_keypoints_data.json
darknet53.conv.74
download_weights.sh
yolo/weights/
yolo/data/
